<div class='author'>
    <img class='img-responsive image' src="<%= author.portrait %>" alt="Author Portrait" width="280">
    <div class='authorinfo'>
        <h3><%= author.first_name %> <%= author.last_name %></h3>
        <p><b>Biography: </b><%= author.biography %></p>
    </div>
</div>