<div class='book'>
    <img class='img-responsive image' src="<%= book.cover %>" alt="Book Cover" width="280">
    <div>
        <p><b>Title: </b><br><%= book.title %></p>
        <p><b>Genre: </b><br><%= book.genre %></p>
        <p><b>Description: </b><br><%= book.description %></p>
    </div>
</div>