<div class='book'>
    <img class='img-responsive image' src="<%= book.cover %>" alt="Book Cover" width="280">
    <div class='bookinfo'>
        <h3><%= book.title %></h3>
        <p><b>Genre: </b><%= book.genre %></p>
        <p><b>Description: </b><%= book.description %></p>
    </div>
</div>