<div class='top-nav'>
        <section class=''>
            <img src="https://via.placeholder.com/800x400" alt="">
            <p>Authors</p>
    
        </section>
    
        <section class=''>
            <img src="https://via.placeholder.com/800x400" alt="">
            <p>Books</p>
    
        </section>
    </div>