<div class='top-nav'>
    <section class='top-nav-item'>
        <img src="https://via.placeholder.com/50x50" alt="">
        <div>Authors</div>

    </section>

    <section class='top-nav-item'>
        <img src="https://via.placeholder.com/50x50" alt="">
        <div>Books</div>

    </section>
</div>