<div class='top-nav'>
    <section class='top-nav-item'>
        <a href='/authors' <% if (url && url === "authorview"){ %>class="active"<% } %> >
            <img src="https://via.placeholder.com/50x50" alt="">
            <div>Authors</div>
        </a>
    </section>

    <section class='top-nav-item'>
        <a href='/books' <% if (url && url === "bookview"){ %>class="active"<% } %>>
            <img src="https://via.placeholder.com/50x50" alt="">
            <div>Books</div>
        </a>
    </section>
</div>