<div class='top-nav'>
    <section class='top-nav-item'>
        <a href='/authors' <% if (url && url === "authorview"){ %>class="active"<% } %> >
            <img src="/author.gif" width="30px" alt="">
            <div>Authors</div>
        </a>
    </section>

    <section class='top-nav-item'>
        <a href='/books' <% if (url && url === "bookview"){ %>class="active"<% } %>>
            <img src="/books.jpg" width="30px" alt="">
            <div>Books</div>
        </a>
    </section>
</div>