<% include ./partials/header %>
<br><br>
<% include ./partials/topNav %>
Total Authors: <%= authors.length %>
<div class="flex-container">
        <% if (authors.length>0) { authors.forEach(author => { %>
                <% include ./partials/author %>
    <% })} else { %>
        <br><br><br>
        <p>We're sorry, there is no matching data.</p>
    <%  } %>
</div>
<br><br>
<% include ./partials/footer %>