<% include ./partials/header %>
<br><br>
<% include ./partials/topNav %>
Total Books: <%= books.length %>
<div class="flex-container">
        <% if (books.length>0) { books.forEach(book => { %>
                <% include ./partials/book %>
    <% })} else { %>
        <br><br><br>
        <p>We're sorry, there is no matching data.</p>
    <%  } %>
</div>
<form class="" action="/books/<%=books[0].id%>?_method=DELETE" method="POST">
    <input class="input buttonshadow" type="submit" value="Delete Book??" width="100">
</form>
<br><br>
<% include ./partials/footer %>