<% include ./partials/header %>
<br><br>
<% include ./partials/topNav %>
<p><b>Total Books: <%= books.length %></b></p>
<div class="flex-container">
        <% if (books.length>0) { books.forEach(book => { %>
                <% include ./partials/book %>
    <% })} else { %>
        <br><br><br>
        <p>We're sorry, there is no matching data.</p>
    <%  } %>
</div>
<br><br>
<% include ./partials/footer %>