<% include ./partials/header %>

<div class='index'>
    <a href='/authors'>
        <section class='index-authors'>
            <img src="/author.gif" alt="">
            <p>Authors</p>
        </section>
    </a>
    <a href='/books'>
        <section class='index-books'>
            <img src="/books.jpg" alt="">
            <p>Books</p>
        </section>
    </a>
</div>

<% include ./partials/footer %>
