<% include ./partials/header %>
<div class='index'>
    <section class='index-authors'>
        <img src="https://via.placeholder.com/800x400" alt="">
        <p>Authors</p>

    </section>

    <section class='index-books'>
        <img src="https://via.placeholder.com/800x400" alt="">
        <p>Books</p>

    </section>
</div>

<% include ./partials/footer %>
