.header{
    display:flex;
    align-items: center;
    background-color: lightblue;
    font-size: xx-large;
    text-shadow: 3px 3px black;
    color: white;
}

.footer{
    background-color: lightblue;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.index{
    display:flex;
    justify-content: space-around;
    margin: 20px;

}

.index img{
    width: 100%;
    height: auto;
    padding: 10px;
}

.index-books, .index-authors{
    display:flex;
    flex-direction: column;
    font-size: xx-large;
    align-items: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888 !important;

}

.top-nav{
    color:red;
    display:flex;
}

.top-nav-item{
    display:flex;
    font-size: large;
    align-items: center;
    border: solid black 1px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    box-shadow: 5px 5px 5px #888888 !important;

}

.top-nav-item div{
    display: inline;
    margin-left: 10px;
}

.top-nav-item a{
    width: 100%;
}

.book, .author{
    display:flex;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888 !important;

}

.book img, .author img{
    height: 200px;
    width: auto;
}

.book div, .author div{
    padding: 10px;
    background-color: lightgray;
}

.bookinfo, .authorinfo{
    width: 100%;
}

.active{
    background-color: lightgreen;
}

.bookinfo a, .authorinfo a {
    display: inline;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    float: right;
    box-shadow: 5px 5px 5px #888888 !important;

}

.bookinfo div, .authorinfo div{
    display:inline-block;
    font-size: x-large;
}

.buttonshadow{
    box-shadow: 5px 5px 5px #888888 !important;
   width: 90%;
   margin: auto;
}

.center{
    display: flex;
    margin:auto;
}