.header{
    display:flex;
    align-items: center;
    background-color: lightblue;
    font-size: xx-large;
}

.footer{
    background-color: lightblue;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.index{
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.index img{
    width: 100%;
    height: auto;
    padding: 10px;
}

.index-books, .index-authors{
    display:flex;
    flex-direction: column;
    font-size: xx-large;
    align-items: center;
}

.top-nav{
color:red;
display:flex;
}

.top-nav-item{
    display:flex;
    /* flex-direction: column; */
    font-size: large;
    align-items: center;
    border: solid black 1px;
    margin: 5px;
    padding: 5px;
    width: 150px;
}

.top-nav-item div{
    margin-left: 10px;
}

.book{
    display:flex;
    padding: 10px;
    background-color: lightgray;
    margin: 10px;
}

.book img{
    height: 200px;
    width: auto;
}

.book div{
    padding: 10px;
    font-size: large;
}